<%- include('partials/header') %>
<div class="container mt-5">

    <h1>About Us</h1>
    <p>Welcome to the About page. Here you can learn more about us.</p>
<p>We are a dedicated team committed to providing the best services to our customers. Our mission is to deliver high-quality solutions that meet your needs and exceed your expectations. With years of experience in the industry, we pride ourselves on our professionalism, innovation, and customer satisfaction. Thank you for choosing us, and we look forward to serving you!</p>

</div>
<%- include('partials/footer') %>